  .singleIssue {
    background-color: rgb(61, 42, 42);
    color: white;
    font-weight: 100;
    border: 1px solid rgb(61, 42, 42);
  }
  
  .singleIssue a {
    background-color: rgb(61, 42, 42);
    color: white;
    text-decoration: underline;
    font-weight: 100;
  }

  .dnd-kit-drag-overlay {
    background-color: rgb(61, 42, 42);
    border: 1px solid rgb(61, 42, 42);
  }
  
  .title {
    background-color: rgb(61, 42, 42);
    font-weight: bold;
    font-style: italic;
  }